{#def
    grouped: GroupedLearningUnits,
#}

{% set unit = grouped.latest_unit() %}

<div class="{% if grouped.semkezs|length > 1 %}not-hover:stack hover:flex hover:flex-wrap hover:bg-base-100{% else %}flex{% endif %} group">
    <div class="card bg-base-100 shadow-sm {% if grouped.semkezs|length > 1 %}group-hover:shadow-none{% endif %} not-hover:transition-shadow flex-row p-4 gap-4 relative group w-full">

        <div class="flex flex-col gap-2 w-full">
            <div class="flex justify-between">
                <div>
                    <h3 class="text-lg font-bold text-neutral leading-tight">
                        <a href="/unit/{{ unit.id }}" class="after:absolute after:inset-0">
                            {{ unit.title_english if unit.title_english else unit.title }}
                        </a>
                    </h3>
                    {% if unit.title_english and unit.title and unit.title != unit.title_english %}
                        <h4 class="text-sm text-base-content/70 italic">
                            {{ unit.title }}
                        </h4>
                    {% endif %}
                </div>

                <div class="flex gap-2 relative z-10">
                    <a target="_blank"
                       href="https://www.vvz.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?lerneinheitId={{ unit.id }}&semkez={{ unit.semkez }}&lang=en&ansicht=ALLE"
                       class="btn btn-sm btn-outline"
                       tabindex="-1"
                       title="VVZ">

                        VVZ
                        <span class="[&>svg]:size-4">
                            <icons.External />
                        </span>
                    </a>
                    <a target="_blank"
                       href="https://coursereview.ch/course/{{ unit.number }}"
                       class="btn btn-sm btn-outline"
                       tabindex="-1"
                       title="CourseReview">
                        CR
                        <span class="[&>svg]:size-4">
                            <icons.External />
                        </span>
                    </a>
                </div>
            </div>

            <div class="flex flex-wrap gap-2 text-xs font-mono mt-1">
                <span class="badge badge-ghost h-fit p-1">
                    {{ unit.number }}
                </span>

                <span class="badge badge-ghost h-fit p-1 flex-wrap justify-start">
                    {% for sem in grouped.semkezs %}
                        <span>
                            {{ sem }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        </span>
                    {% endfor %}
                </span>

                {% if unit.credits %}
                    <span class="badge badge-info h-fit p-1">
                        {{ unit.credits|trim_float }} Credits
                    </span>
                {% endif %}

                {% if unit.levels %}
                    <span class="badge badge-success h-fit p-1 flex-wrap justify-start">
                        {% for level in unit.levels %}
                            <span title="{{ level.description() }}">
                                {{ level }}
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                            </span>
                        {% endfor %}
                    </span>
                {% endif %}

                {% if unit.departments %}
                    <span class="badge badge-neutral h-fit p-1 flex-wrap justify-start">
                        {% for dept in unit.departments %}
                            <span class="text-nowrap" title="{{ dept }}">{{ dept.short() }}
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                            </span>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>

            <p class="text-sm text-base-content/80 leading-relaxed line-clamp-3 mt-1">
                {% if unit.abstract_english %}
                    {{ unit.abstract_english }}
                {% elif unit.abstract %}
                    {{ unit.abstract }}
                {% else %}
                    <span class="text-base-content/50 italic">No description available.</span>
                {% endif %}
            </p>
        </div>
    </div>
    {% for semkez in grouped.semkezs %}
        {% if semkez != unit.semkez %}
            <a href="/unit/{{ grouped.with_semkez(semkez).id }}"
               tabindex="-1"
               class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow flex-row p-4 group-hover:w-fit group-hover:mb-2 group-hover:ml-2 group-hover:mr-2">
                <div class="flex flex-wrap gap-2 text-xs font-mono mt-1">
                    <span class="badge badge-ghost h-fit p-1">
                        {{ semkez }}
                    </span>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
