@import "tailwindcss";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
    themes: blue --default;
}

@plugin "./daisyui-theme.mjs" {
    name: "blue";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.014 254.604);
    --color-base-200: oklch(93% 0.032 255.585);
    --color-base-300: oklch(88% 0.059 254.128);
    --color-base-content: oklch(37% 0.146 265.522);
    --color-primary: oklch(85% 0.199 91.936);
    --color-primary-content: oklch(28% 0.066 53.813);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(26% 0.079 36.259);
    --color-accent: oklch(71% 0.203 305.504);
    --color-accent-content: oklch(29% 0.149 302.717);
    --color-neutral: oklch(42% 0.199 265.638);
    --color-neutral-content: oklch(97% 0.014 254.604);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(71% 0.202 349.761);
    --color-error-content: oklch(28% 0.109 3.907);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

.rainbow-text:hover {
    transition: 0.3s;
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: pulse-rainbow 1s linear infinite;
}

@keyframes pulse-rainbow {
    0% {
        background-position: 0 0;
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        background-position: 300% 0;
        transform: scale(1);
    }
}
